.jumbotron {
    background-color: #20325A;
    color: aliceblue;
}
/* #nytlogo { 
    border-bottom: 1px solid black;
} */

body {
    /* background-image: url(images/new-york-times-and-coffee.jpg);
    background-repeat: no-repeat;
    width: 100%; */

}
#fit2print {
    /* margin: 0px 50px 0px 75px; */
}

.card {
    align-content: center;

}
.mainbox {
    background-color: black;
    opacity: 0.8;
}

#searchBtn {
    margin: 10px;
}

#clearBtn {
    margin: 10px;
}

.dateBtn {
    margin:  0px 10px 10px 10px;
}

#datenyt {
    border: 1px solid black;
    text-align: center;
}